<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.epam.teja.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeServlet</servlet-name>
  	<display-name>HomeServlet</display-name>
  	<description></description>
  	<servlet-class>com.epam.teja.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayServlet</servlet-name>
  	<display-name>DisplayServlet</display-name>
  	<description></description>
  	<servlet-class>com.epam.teja.servlets.DisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomeServlet</servlet-name>
  	<url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayServlet</servlet-name>
  	<url-pattern>/DisplayServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
